@{
    ViewBag.Title = "ChangePassword";
}
@model Mission.WebUI.ViewModels.ChangePassword
<div id="contactForm">
    <fieldset>
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Ditt användarnamn" })
        <div class="editor-field">
            <div class="editor-label login-label">
                Gammalt lösenord
            </div>
            @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Gammalt lösenord" })
        </div>
        <div class="editor-field">
            <div class="editor-label login-label">
                Gammalt lösenord
            </div>
            @Html.PasswordFor(m => m.NewPassword,new { placeholder = "Nytt lösenord" })
        </div>
        <p>
            <input type="submit" id="submit" value="Byt lösenord" />
        </p>
    </fieldset>
</div>
