<h2>Avregistrering</h2>

        <p>Skriv in namn och email adress för att avregistrera dig på mitt nyhetsbrev</p>
            
        <fieldset>
            <legend>.</legend>
            <div>
            <input id="name" type="text" class="form-poshytip" title="Enter your full name"  />
            <label>Namn</label>
            </div>
            <div><input id="email" type="text" class="form-poshytip" title="Enter your Email"  />
            <label>Email</label>
            </div>
            <div>
                <input type="submit" value ="Avregistrera" id="submit"/>
                <a class="subscribe-link">Prenumerera</a>
            </div>
            <span id="error" class="warning"></span>
        </fieldset>