@model Mission.WebUI.ViewModels.vm_PostSubscriber
<h2>
    Avregistrering</h2>
<p>
    Skriv in namn och email adress för att avregistrera dig på mitt nyhetsbrev</p>
@using (Html.BeginForm("Unsubscribe", "Home"))
{
    <fieldset>
        
        <div>
            @Html.EditorFor(s => s.Subscriber.Name, new { id = "name", type = "text", @class = "form-poshytip", title = "Enter your email address" })
            <label>Namn</label>
        </div>
        <div>
            @Html.EditorFor(s => s.Subscriber.Email, new { id = "email", type = "text", @class = "form-poshytip", title = "Enter your email address" })
            <label>Email</label>
        </div>
        <div>
            <input type="submit" class="submit-style" value="Avregistrera" />
            <a class="subscribe-link">Prenumerera</a>
        </div>
        <span id="error" class="warning"></span>
    </fieldset>
}