@{
    ViewBag.Title = "Byta lösenord";
}
@model Mission.WebUI.ViewModels.ChangePassword
@using (Html.BeginForm())
{
    <div class="leftcol">
        <h3 id="" class="home-block-heading">
            <span>Byta eget lösenord </span>
        </h3>
        <div class="whiteboxes">
            <p>
                Gammalt lösenord<br />
                @Html.PasswordFor(m => m.OldPassword)<br />
                Nytt lösenord<br />
                @Html.PasswordFor(m => m.NewPassword)<br />
                Bekräfta nytt lösenord<br />
                <input type="password" /><br />
            </p>
            <p>
                <input type="submit" id="submit" value="Byt lösenord" />
            </p>
        </div>
    </div>
    <div class="rightcol">
        <h3 id="" class="home-block-heading">
            <span>Byta annan användares lösenord </span>
        </h3>
        <div class="whiteboxes">
            <p>
                Vilken användare ska byta lösen<br />
                @Html.EditorFor(m => m.ChangeUserPwd.OtherUser)<br />
                Nytt lösenord<br />
                @Html.EditorFor(m => m.ChangeUserPwd.NewPassword)
            </p>
            <p>
                <input type="submit" id="submit" value="Byt lösenord" />
            </p>
        </div>
    </div>
}