@{
    ViewBag.Title = "Byta lösenord";
}

    @model Mission.WebUI.ViewModels.ChangePassword
@using (Html.BeginForm("ChangePassword", "Home"))
{
    
    <div id="contactForm">
        <fieldset>
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Användarnamn" })
            @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Gammalt lösenord" })
            @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Nytt lösenord" })
            <p>
                <input type="submit" id="submit" value="Byt lösenord" />
            </p>
        </fieldset>
    </div>
    
}