<div>
    <h2 id="" class="home-block-heading">
        <span>Vårt löfte till dig</span>
    </h2>
    <p>
        <span>Om du är redo att investera din tid och ditt engagemang i våra föreläsningar så
            levererar vi avgörande resultat. Det är vårt löfte till dig.</span>
    </p>
    <p>
        Våra föreläsningar är framtagna så att du skall göra förbättringar inte bara under
        föreläsningen och direkt efter utan också långsiktigt. Kunskap är inte makt utan
        potentiell makt. Kunskap som inte används besitter ingen styrka. Därför är allt
        material designat så att du hela tiden gör saker. Det går inte att sitta passivt
        och läsa eller lyssna och sedan tro att man skall vara rustad för att gå ut och
        använda det man lärt sig. Det är ungefär som att tro att du skulle få bra kondition
        genom att bara läsa om träning.</p>
    <p>
        De flesta människor överskattar vad man kan genomföra på en vecka men underskattar
        vad man kan åstadkomma på ett år. Vårt mål är att alla som investerar tid och engagemang
        i våra föreläsningar skall få behållning som varar livet ut.
    </p>
    <p>
        ”Det är vid de ögonblick du fattar beslut som ditt liv formas.” – Anthony Robbins
    </p>
</div>
<div>
    <h2 id="" class="home-block-heading">
        <span>Information</span>
    </h2>
    <h4>
        Föreläsningar som ger svar!</h4>
    <ul>
        <li>Vad är det som skiljer de som lyckas från de som inte lyckas?</li>
        <li>Vad är det som får människor att göra som de gör?</li>
        <li>Vad är det som får en person som till synes har allehanda begränsningar som handikapp,
            dålig ekonomi, utbildning eller uppväxt att kliva fram och producera mer än en som
            verkar ha alla fördelar man kan ha? </li>
        <li>Hur gör man för att bryta igenom istället för att bryta ihop?</li>
    </ul>
    <h4>
        Föreläsningar som ger resultat</h4>
    <ul>
        <li>Skapa din personliga framgångscykel</li>
        <li>Gå från uttråkad och passiv till energirik och vibrerande av lycka på ett ögonblick</li>
        <li>Lär de fundamentala strategierna för framgång hämtade från de bästa i världen inom
            idrott, affärsvärlden och forskning</li>
        <li>Lär dig vad som får dig att bryta igenom istället för att bryta ihop.</li>
        <li>Bli medveten om hur du kommunicerar med dig själv och din omgivning och gör radikala
            förbättringar i din kommunikation</li>
        <li>Lär dig det senaste inom prestationspsykologi</li>
        <li>Ta ditt liv till en helt ny nivå genom insikter om hur man förstärker sina positiva
            känslor och krossar inflytandet från de negativa</li>
    </ul>
    <h4>
        Föreläsningar som berör och underhåller</h4>
    <p>
        Som den entertainer han är så levererar Jesper en underhållande resa i personlig
        utveckling. Men det är mer än bara underhållning. Det handlar om att ta sig till
        en helt ny nivå i livet eller företaget. Genom ett interaktivt förhållningssätt
        där deltagaren hela tiden ”testar” den information som Jesper förmedlar så optimeras
        inlärningsförmågan hos deltagaren. Genom att man som deltagare redan under föreläsningen
        har praktiserat kunskapen så säkerställs också att man vet hur man använder densamma
        även efter föreläsningen.</p>
    <p>
        Jesper Caron räknas idag till den nya generationens föreläsare. Med högt tempo och
        målinriktat budskap fängslas publiken.</p>
    <h4>
        Ämnena är:</h4>
    <ul>
        <li>Motivation och tillståndskontroll</li>
        <li>Förmågan att agera</li>
        <li>Att bryta igenom istället för att bryta ihop</li>
        <li>Målsättning och planering</li>
        <li>Tänk rätt – Bli framgångsrik</li>
        <li>Den inre resan, mental träning, NLP, meditation och SM-X</li>
        <li>Fokus, Transformera dina svagheter till styrka.</li>
        <li>Identitet, jag och gruppen</li>
        <li>Kommunikation</li>
        <li>Ledarskap</li>
    </ul>
    <p class="italic">
        "Det bästa sättet att förutsäga din framtid är att skapa den”</p>
    <p>
        En föreläsning med Jesper Caron är en garanterad energihöjare. Jesper Caron är utbildad
        musikalartist och har en gedigen CV från den tiden. Bland annat huvudrollen i Höstsonaten,
        filmroll i Dancer in the dark. Han har också arbetat på Göteborgsoperan och flera
        andra teatrar i Skandinavien. Jesper har arbetat tillsammans med flera av Sveriges
        absolut största artister och skådespelare, som t.ex. Peter Stormare, Stellan Skarsgård,
        Lotta Engberg och Shirley Clamp.</p>
    <p>
        En hjärtsjukdom tvingade Jesper till att lägga sin lyckosamma karriär på hyllan
        och istället koncentrera sig på att överleva. Här föddes fröet till Jesper Carons
        bana som föreläsare. Besatt av viljan att överleva började han söka, studera och
        praktisera de fundamentala strategierna för livet.</p>
</div>
<div>
    <h2 id="" class="home-block-heading">
        <span>Utbildningar</span>
    </h2>
    <h3>
        Strategier för livet</h3>
    - Framgångsfaktorer Skapa din personliga framgångscykel. Gå från uttråkad och passiv
    till energirik och vibrerande av lycka på ett ögonblick. Lär de fundamentala strategierna
    för framgång hämtade från de bästa i världen inom idrott, affärsvärlden och forskning.
    Lär dig vad som får dig att bryta igenom istället för att bryta ihop. Bli medveten
    om hur du kommunicerar med dig själv och din omgivning och gör radikala förbättringar
    i din kommunikation. Lär dig det senaste inom prestationspsykologi. Ta ditt liv
    till en helt ny nivå genom insikter om hur man förstärker sina positiva känslor
    och krossar inflytandet från de negativa. Seminariets längd: Från 2 timma 8 timmar.
    Vägen till världsklass! - Optimera resurserna inom en grupp eller ett arbetslag.
    Strategier för att nå nästa nivå i företaget, arbetsgruppen eller personalstyrkan.
    Lär dig hur du hur du hanterar och bearbetar en konflikt. Förändra innebörden av
    en allvarlig och svår händelse till en lärorik händelse du inte skulle vilja vara
    utan. Finn din sanna natur och ditt rätta jag för att kunna tillföra gruppen det
    bästa du har att erbjuda. Skapa en kollektiv framgångscykel för gruppen. Här är
    ditt liv! – En gedigen utbildning i målsättning och planering. TRInity, ett avancerat
    system för att optimera resultatet och höja kvalitén på din tid. Vad är tid? Skapa
    en komplett filosofi för planering som frigör och förlöser istället för en planering
    som stjälper och demotiverar. Lär dig att sätt upp mål som gör dig sugen att fullfölja.
    Vad skiljer de som fullföljer från de som avbryter? Att sätta och uppnå kraftfulla
    mål. Bränslet för att fullfölja. Det bästa du kan! - Öka försäljningen inom företaget.
    Lär dig att prestera i världsklass. Vad är framgång? Lär dig de viktigaste kvalitéerna
    hos personer som presterar på topp. Att sälja maximalt. Vad innebär det? Förhållningssätt,
    relation och självbild. Konsten att övertyga. Fundamentala strategier vid förhandling.
    Inflytande, den avgörande faktorn. Lär dig att analysera kundens mönster för att
    köpa. Ledarens gestalt! – En djupgående utbildning i ledarskap. Vad är ledarskap.
    Kvalitéer hos en gedigen ledare. Motivation för ledare. Kommunikation – Den avgörande
    skillnaden. Skapa goda och effektiva relationer. Trender och möjligheter med det
    nya årtusendet. Här och nu! – En utbildning i Mental träning och de moderna utvecklade
    metoderna av den mentala träningen. Den inre resan. Hur fungerar mental träning?
    Hur åstadkommer man resultat med mental träning? NLP, SM-X och NAC. De moderna teknikerna
    inom mental träning. Det har hänt mycket de senaste tio åren. Lär dig det absolut
    senaste inom prestationspsykologi. Hälsa i Världsklass! – En utbildning i Kost och
    Hälsa. Vad är hälsa? Lär dig fundamentala strategier för att skapa energi som vibrerar
    och räcker hela dagen. Skapa en hälsa i Världsklass. Ät dig frisk! Skapa insikter
    och förståelse kring hur. kostvanor och träning påverkar huruvida du blir sjuk eller
    förblir frisk. Uppnå din drömvikt snabbt och enkelt. Lär dig att avslöja modedieterna.
    Som deltagare erhåller du alltid ett online-verktyg som hjälper dig fullfölja. Det
    finansiella geniet! – En utbildning om pengar och karriär. Lär dig finansiella strategier
    hämtade från de rikaste i världen. Transformera din ekonomi i grunden. Lär dig vad
    som skiljer skuldsatta människor ifrån de som är ekonomiskt oberoende. Skapa en
    handlingsplan för att ta din ekonomi till en helt ny nivå. Utradera dina mest begränsande
    trossatser vad gäller pengar. Ekonomiskt oberoende – Vad innebär det? Ny kraft med
    SM-X! – En spektakulär utbildning i SM-X. Ditt liv kommer aldrig mer vara sig likt
    efter att du har deltagit. Det här revolutionerar din syn på dig själv och din omgivning
    och din syn på vad du är kapabel till att göra. Lär dig grunderna i SM-X. SM-X är
    förmodligen världens i särklass roligaste, enklaste och mest övertygande terapiform.
    Genom små enkla steg kan du förändra vad som helst på bara några minuter. Att det
    sedan är hur roligt som helst är knappast någon nackdel. Nästa SM-X utbildning är
    planerad i April. ”SM-X is the most powerful tool I have ever seen” – Jana Gordon,
    USA Boka ett seminarium Du kan boka Jesper Caron för livsförändrande seminarier,
    konsultationer eller personlig coachning. Skicka gärna ett mail till office@jespercaron.se
    eller ring oss till kontoret på 033-410 430 om du vill veta mer.
</div>
