@{
    ViewBag.Title = "Utgangspunkt";
}

<h2 class="page-heading">
<span>Utgångspunkt</span>
</h2>

<div class="leftcol">
<h3 id="" class="home-block-heading">
<span>Positiv psykologi</span>
</h3>
<div class="whiteboxes">
<p>
Utgångspunkten till mina föreläsningar hittar du i den positiva psykologin. 
Att få förtroendet att föreläsa för så många människor som jag gör årligen förpliktigar. 
Det är därför viktigt för mig att det jag säger är förankrat i seriös forskning. 
En gång i tiden ansågs det inom den traditionella psykologin fult att studera vad som skapar lycka och framgång. 
Den positiva psykologin med Martin Seligman som en av de stora auktoriteterna har definitivt ändrat på det. 
I takt med att det kommer fler och fler evidensbaserade studier från den positiva psykologin får den allt mer plats på psykologiprogrammet. 
Detta ger mig därför en väldigt bra grund att stå på när jag föreläser.
</p>
</div>
</div>



<div class="rightcol">
<h3 id="" class="home-block-heading">
<span>Den stora tillståndsstudien</span>
</h3>
<div class="whiteboxes">
<p>Mitt eget bidrag till den positiva psykologin återfinns i ”Den stora tillståndsstudien”. 
För att säkerställa att studien genomförs på ett korrekt sätt har jag haft förmånen att få en hel del goda råd från ett par av landets mest välrenommerade professorer i psykologi och statsvetenskap. 
Vad vi har testat är hur stor effekt på välbefinnandet SM-X träningen har. Vi har nu ett underlag från över 1000 fallstudier. 
Flera av mina kunder Ericsson, Sandvikens kommun och Skatteverket har varit behjälpliga i genomförandet av denna studie. 
Vad vi nu vet är att det är fullt möjligt att må 20-30% bättre genom endast 19 sekunder av SM-X träning. 
Något som förstås är väldigt önskvärt på dagens uppskruvade arbetsmarknad.
</p>
</div>
</div>



<div class="leftcol">
<h3 id="" class="home-block-heading">
<span>Mental konditionsträning</span>
</h3>
<div class="whiteboxes">
<p>
Något som förvånade mig när jag kom in i branschen var hur mycket prestige det låg i användandet av olika mentala tekniker. 
Nästan lika viktigt som att utbilda i sin egen teknik är det för många utövare att smutskasta alla andra tekniker. 
Teknikerna blir som ett slags religion där alla frånsteg från formen anses fel. 
Samtidigt finns det många gånger en närmast fanatisk övertro på den egna tekniken. 
Det räcker alltså inte med att säga att tekniken fungerar bra utan det måste kläs i superlativ och absoluta termer. 
I takt med att jag snappade upp och bemästrade dessa mentala tekniker insåg jag att många av dem fungerade väldigt bra. 
Inte varje gång, fullt ut och hela tiden men väldigt ofta, i väldigt stor utsträckning och för väldigt många.
Eftersom mitt primära mål är att åstadkomma största möjliga genombrott för de jag arbetar med kan jag därför omöjligen ansluta mig till någon enskild teknik bara för att passa in i en enskild grupp av användare.
Att bejaka flera olika tekniker är i stället mitt signum och detta innebär att jag har en hel arsenal av verktyg i verktygslådan att tillgå. 
När ett verktyg inte fungerar på en individ eller på en grupp plockar jag bara fram ett annat istället. 
Resultatet skall uppnås, så är det bara.
</p>
</div>
</div>

<div class="rightcol">


</div>

<div class="rightcol">
<h3 id="" class="home-block-heading">
<span>SMX-träning</span>
</h3>
<div class="whiteboxes">
<p>Då inget samlingsnamn finns för att arbeta med flera mentala tekniker samtidigt döpte jag mitt arbetssätt till SMX, State Mastery Experience. 
(Erfarenhet i tillståndsbemästrande) I SMX träningen hittar du därför element från tekniker som bygger på träning av mentala processer i ett alternativt medvetandetillstånd (Självhypnos / det mentala rummet), mental konditionsträning, NAC, NLP men även mindfulness, Peak state technology m.fl.</p>
</div>
</div>

<div class="rightcol">
<h3 id="" class="home-block-heading">
<span>Kvalitetssäkring</span>
</h3>
<div class="whiteboxes">
<p>
Som en av mycket få föreläsare i branschen utvärderar jag i stort sett samtliga mina uppdrag. 
Det är alltid kunden som bestämmer om vi gör en utvärdering eller inte. 
Ibland passar det helt enkelt inte att göra en utvärdering. 
De flesta kunder däremot uppskattar dock utvärderingsmomentet. 
Det ger oss ett bra underlag när vi i efterhand går igenom uppdraget.</p>
</div>
</div>

