@model List<Mission.WebUI.ViewModels.ArkivModel>
@{
    
    var currentYear = 0;
}         

<div id="bloggarkiv">
        <h2>Arkiv</h2>
            @foreach (var arkiv in Model)
            {
                if (currentYear != arkiv.Year)
                {
                    <p class="arkiv-year">@arkiv.Year</p>
                }
                    <p>@Html.ActionLink(@arkiv.Month, "Arkiv", new { month = arkiv.Month, year = arkiv.Year }) (@arkiv.Count) </p>
                currentYear = arkiv.Year;
                   
            }
        </div>