﻿@using Mission.Domain.Entities
@using Mission.WebUI.ViewModels
@model BlogComments
@{
    ViewBag.Title = "Blog";
}
<div id="posts-list">
    <h2 class="page-heading">
        <span>BLOGG</span></h2>
    @Html.DisplayFor(p => p.Posts)
</div>

