<<<<<<< HEAD
﻿@using Mission.Domain.Entities
=======
﻿﻿@using Mission.Domain.Entities
>>>>>>> d423993daa3381db244f19c7915de053785eb14c
@using Mission.WebUI.ViewModels
@model BlogComments
@{
    ViewBag.Title = "Blog";
}

<<<<<<< HEAD


<div id="posts-list">
	        	

    <h2 class="page-heading"><span>BLOGG</span></h2>	
    @Html.DisplayFor(p => p.Posts)
</div>




=======
<div id="posts-list">        	
    <h2 class="page-heading"><span>BLOGG</span></h2>	
    @Html.DisplayFor(p => p.Posts)
</div>
>>>>>>> d423993daa3381db244f19c7915de053785eb14c
