@using Mission.Domain.Entities
@model Comment

@using (Html.BeginForm("_CreateComment", "Post") ) { 

    <p>namn <br />
        @Html.HiddenFor(p => p.BlogID)
        @Html.EditorFor(p => p.Name)
    </p>
    
    <p>Kommentar <br />
        @Html.TextAreaFor(p => p.Body)
    </p>

    <div>
            <input type="submit" value ="Svara"/>
    </div>


}