@model Mission.Domain.Entities.Customers

    @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
    {
        using (Html.BeginForm("JesperCaron", "Home"))
        {<p>
            Namn på kund
            @Html.EditorFor(e => e.Name)<br />
            Kundens hemsida
            @Html.EditorFor(e => e.WebSite)
        </p>
        <div>
            <input type="submit" value="Spara ny kund" />
        </div>
        }

    }
