@using (Html.BeginForm("Search", "Post", FormMethod.Get))
{
<div>
    <input type="text" name="search" placeholder="Sök" id="searchfield"/>
    <input type="submit" id="searchsubmit" value="" />
</div>
}