@model Guid

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    
    <script type="text/javascript">
        $.get({"Event/EventStatistic/" + @Model.ToString(),
            function(data) {
               google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
          ['Ålder', 'Man', 'Kvinna'], 

                for(x in data)
                {
                   [x.Age , 1, 2],
                }

                 ]);
            });
        });

       
       
        

            var options = {
                title: 'är jag en fråga?',
                hAxis: { title: 'Year', titleTextStyle: { color: 'pink'} }
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>