@model Guid
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    $(function () {

        $.ajax({
            'url': '/Event/StatisticsDetails/' + '@Model.ToString()',
            'dataType': 'json',
            'success': function drawChart(x) {
                var Categories = [['Age', 'Male score', 'Female score']];
                var AgeScore;
                var options = { title: 'Antal: ' + ' M = ' + x[0][2]["mCount"] + ' F = ' + x[0][3]["fCount"], hAxis: { title: '', titleTextStyle: { color: 'black'}} };
                for (var i in x[0]) {
                    AgeScore = [x[0][i]["AgeSpan"], x[0][i]["mScore"], x[0][i]["fScore"]];
                    Categories.push(AgeScore);
                }
                var data = google.visualization.arrayToDataTable(Categories);
                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div')); chart.draw(data, options);
                for (n = 1; n < x.length; n++) {
                    Categories = [['Age', 'Male score', 'Female score']];
                    for (var a in x[n]) {
                        AgeScore = [x[n][a]["AgeSpan"], x[n][a]["mScore"], x[n][a]["fScore"]];
                        Categories.push(AgeScore);
                    }
                    $('.charts').append('<div class="questionDiv"><p>'+x[n][a]["Question"]+'</p><div class ="chartDiv" id="chart_div' + n + '" style=" height: 250px;"></div></div>');
                    data = google.visualization.arrayToDataTable(Categories);
                    var options = { title: '', hAxis: { title: '', titleTextStyle: { color: 'black'}} };
                    var charts = new google.visualization.ColumnChart(document.getElementById('chart_div' + n)); charts.draw(data, options);
                }
               
            }
        });
    });
</script>
<div class="charts">
    <p>Statistik för hela eventet</p>
    <div class="chartDiv" id="chart_div" style="width: 70%; height: 250px;"></div>
</div>

