@{
    ViewBag.Title = "Index";
}

<h2 class="page-heading"><span>CONTACT</span></h2>	
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">
					
				<!-- Map -->
				@*<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true" /></script>
				<script type="text/javascript">
				    function initialize() {
				        var latlng = new google.maps.LatLng(57.716959, 12.941374);
				        var myOptions = {
				            zoom: 15,
				            center: latlng,
				            mapTypeId: google.maps.MapTypeId.ROADMAP
				        };
				        var map = new google.maps.Map(document.getElementById("map_canvas"),
					    myOptions);
				    }
				</script>*@
				<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=sv&amp;geocode=&amp;q=g%C3%B6teborg&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=G%C3%B6teborg,+Sverige&amp;ll=57.70887,11.97456&amp;spn=0.025499,0.084543&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=sv&amp;geocode=&amp;q=g%C3%B6teborg&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.638819,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=G%C3%B6teborg,+Sverige&amp;ll=57.70887,11.97456&amp;spn=0.025499,0.084543&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Visa större karta</a></small>
				@*<div id="map_canvas"></div>*@
				<!-- ENDS Map -->
				
					
					<!-- form -->
					<script type="text/javascript" src="js/form-validation.js"></script>
					<form id="contactForm" action="#" method="post">
						<h2 class="heading">Contact us using this form</h2>
						<p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
						<fieldset>
							<div>
								<input name="name"  id="name" type="text" class="form-poshytip" title="Enter your full name" />
								<label>Name</label>
							</div>
							<div>
								<input name="email"  id="email" type="text" class="form-poshytip" title="Enter your email address" />
								<label>Email</label>
							</div>
							<div>
								
								<input name="web"  id="web" type="text" class="form-poshytip" title="Enter your website" />
								<label>Website</label>
							</div>
							<div>
								<textarea  name="comments"  id="comments" rows="5" cols="20" class="form-poshytip" title="Enter your comments"></textarea>
							</div>
							
							<!-- send mail configuration -->
							<input type="hidden" value="email@yourserver.com" name="to" id="to" />
							<input type="hidden" value="Enter the subject here" name="subject" id="subject" />
							<input type="hidden" value="send-mail.php" name="sendMailUrl" id="sendMailUrl" />
							<!-- ENDS send mail configuration -->
							
							<p><input type="button" value="Send" name="submit" id="submit" /> <span id="error" class="warning">Message</span></p>
						</fieldset>
						
					</form>
					@*<p id="sent-form-msg" class="success">Form data sent. Thanks for your comments.</p>*@
					<!-- ENDS form -->
					
					
					<!-- contact sidebar -->
		        	<aside id="contact-sidebar">
		        		<div class="block">
			        		<h4>Address</h4>
			        		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor si tincidunt quis, accumsan porttitor, facilisis luctus, mets.</p>
			        		
			        		<ul class="address-block">
			        			<li class="address">Address line, city, state ZIP</li>
			        			<li class="phone">+123 456 789</li>
			        			<li class="mobile">+123 456 789</li>
			        			<li class="email"><a href="mailto:email@server.com">email@server.com</a></li>
			        		</ul>
			        		
		        		</div>	        	
		        	</aside>
		        	<div class="clearfix"></div>
					<!-- ENDS contact-sidebar -->
					
				</div>
