@model Mission.Domain.Entities.Newsletter

@ViewBag.StatusMessage

@using (Html.BeginForm())
{
    <p>
        <span>Ämne:</span><br />
        @Html.EditorFor(n => n.Subject)
    </p>
    <p>
        <span>Meddelande:</span><br />
        @Html.TextAreaFor(n => n.Message, new { style="min-width:100%; max-width:100%; min-height:300px;" })
    </p>
    <div id="submit">
        <input type="submit" value="Send" />
    </div>
}