@model Mission.WebUI.ViewModels.AnswerVM
@using Mission.WebUI.Infrastructure
@Html.HiddenFor(m => m.QuestionID)
<div class="answerQuestion">
            @Html.DisplayFor(m => m.Question)<br />
            @Html.RadioButtonForSelectList(m => m.Selected, Model.SelectList)
</div>
